<div class="main">
    
    <div class="submain">
        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
                   <img src="../../../assets/PhotoBrahim.jpg" id=photo alt="">
            </div>
            <div class="col col-lg-8 col-md-4 col-sm-12 col-xs-12">
                   <p class="text">
                        I am an IT professional with over 5 years working in the tech sector. To start a new life in the UK, I have  attended a coding course at Code Nation School which involved JavaScript, CSS and HTML. I am a French speaker, with a good level in mathematics, excellent problem-solving skills and persistence and determination to see projects through to the end.
                   </p>
             </div>
        </div>
    </div>

    
</div>
